# IDE / Project
.idea/
*.iml

# Gradle
.gradle/
**/build/
**/out/
.cxx/
externalNativeBuild/

# Local config
local.properties

# Keystore / credentials
*.jks
*.keystore
*.pem
*.key

# Android outputs
*.apk
*.ap_
*.aab
app/release/

# Logs & misc
captures/
*.log
.DS_Store

# Optional: keep selected .idea parts (uncomment to retain)
#!.idea/runConfigurations/
#!.idea/codeStyles/